.card {
  width: 60px;
  height: 86px;
  touch-action: none;
  user-select: none;
  position: absolute;
}

.card.selected:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: -2px 2px 5px 2px #0000ff;
}
