.hand-container {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 2px 0;
}

.hand-container__name {
    position: absolute;
}

.hand {
    height: 110%;
    width: 90%;
    outline: 1px solid black;
    margin: 0 auto;
}

.hand.drop-active {
    outline: 2px dashed #aaa;
}

.hand.drop-target {
    outline-style: solid;
}
