.other-player-hand {
    height: 100px;
    width: 50px;
    outline: 1px solid black;
}

.other-player-hand__name {
    position: absolute;
    z-index: 1000000;
    margin: 5px;
    font-size: 130%;
    color: white;
}

.other-player-hand.drop-active {
    outline: 2px dashed #aaa;
}

.other-player-hand.drop-target {
    outline-style: solid;
}
